/.idea
*.egg-info/
*.pyc
.venv*
/build
/dist
/html
.*.swp
*-stamp
/debian/files
/debian/python-xmpp.debhelper.log
/debian/*.debhelper
/debian/python-xmpp.substvars
/debian/python-xmpp/
/doc/apidocs/
/examples
