Source: python-xmpp
Section: python
Priority: optional
Maintainer: Alexey Nezhdanov <snakeru@users.sourceforge.net>
Build-Depends-Indep: debhelper (>> 3.0.0)
Standards-Version: 3.6.1

Package: python-xmpp
Architecture: all
Depends: python2.3-xmpp
Description: Python library for communication with XMPP (Jabber) servers.
 This is a set of modules providing functionality for writing
 xmpp-compliant client or component in python.
 .
 This library was initially designed as "rework" of jabberpy library
 but lately become separate product.
 .
 Unlike jabberpy it is distributed under the terms of GPL.
 .
 This package is a dependency package, which depends on Debian's default
 Python version and respective xmpppy package version (currently v2.3).

Package: python2.1-xmpp
Architecture: all
Depends: python2.1, python2.1-xmlbase
Description: Python library for communication with XMPP (Jabber) servers.
 This is a set of modules providing functionality for writing
 xmpp-compliant client or component in python.
 .
 This library was initially designed as "rework" of jabberpy library
 but lately become separate product.
 .
 Unlike jabberpy it is distributed under the terms of GPL.
 .
 This package provides modules for python 2.1

Package: python2.2-xmpp
Architecture: all
Depends: python2.2, python2.2-xmlbase
Description: Python library for communication with XMPP (Jabber) servers.
 This is a set of modules providing functionality for writing
 xmpp-compliant client or component in python.
 .
 This library was initially designed as "rework" of jabberpy library
 but lately become separate product.
 .
 Unlike jabberpy it is distributed under the terms of GPL.
 .
 This package provides modules for python 2.2

Package: python2.3-xmpp
Architecture: all
Depends: python2.3
Description: Python library for communication with XMPP (Jabber) servers.
 This is a set of modules providing functionality for writing
 xmpp-compliant client or component in python.
 .
 This library was initially designed as "rework" of jabberpy library
 but lately become separate product.
 .
 Unlike jabberpy it is distributed under the terms of GPL.
 .
 This package provides modules for python 2.3

